<div class="container justify-content-center">
 <div class="d-flex p-1 justify-content-center">
    <div class="m-2 d-flex"><span class="badge text-bg-primary">Primary</span></div>
    <div class="m-2 d-flex">Flex item</div>
    <div class="m-2 d-flex">Flex item</div>
  </div>

  <div class="row text-center">
    <div class="col">
      <h1>Lorem ipsum dolor sit amet consectetur.</h1>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, consectetur iste? Similique quibusdam voluptas id!</p>
    </div>
    </div>
    
<!--Images-->
<div class="row mt-5">
  <div class="col">
    <div class="d-flex justify-content-center mb-2">
      <span class="border rounded bg-secondary p-1 text-white">
        Lorem ipsum dolor sit amet consectetur.
      </span>
    </div>
    <div class="d-flex justify-content-center flex-row">
      <button class="btn btn-lg btn-primary mx-2 p-2" type="button">First btn</button>
      <button class="btn btn-lg btn-primary p-2" type="button" (click)="onRegister()">Register</button>
    </div>
  </div>
  </div>  

<div class="row my-5">
  <div class="col-8">
    <img
    bg-danger 
    class="image1" 
    src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdhis2.org%2Fsenegal-covid-surveillance%2F&psig=AOvVaw25vIwiBen2gnCLVMlK3Xd8&ust=1694075404817000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqGAoTCKDytOjIlYEDFQAAAAAdAAAAABCRAQ" 
    alt="image 1"
    >
  </div>
  <div class="col-4">
    <img 
    bg-primary
     class="image2"
     src="src/assets/dhis image 6.jpg" 
     alt="image 2"
     >
  </div>
</div>

<!--images-->

<div class="row">
  <div class="d-flex flex-row mb-3 justify-content-around align-items-stretch">
    <div class="p-2">Brand item 1</div>
    <div class="p-2">Brand item 2</div>
    <div class="p-2">Brand item 3</div>
    <div class="p-2">Brand item 4</div>
    <div class="p-2">Brand item 5</div>
    <div class="p-2">Brand item 6</div>
    <div class="p-2">Brand item 7</div>
  </div>
</div>

<div class="container p-5 justify-content-center">
  <div class="row text-center">
    <div class="col">
      <p>Lorem, ipsum dolor.</p>
      <h3><strong>Lorem ipsum dolor</strong></h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Obcaecati nobis quis velit a unde aspernatur. 
         Consequuntur inventore magni repellat amet.</p>
    </div>
  </div>

  <div class="row">
<div class="col d-flex flex-column align-items-center">
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Lorem Ipsum Dolor</h5>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Lorem Ipsum Dolor</h5>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
</div>

<div class="col d-flex flex-column align-items-center">
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Lorem Ipsum dolor</h5>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Lorem Ipsum Dolor</h5>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="card-text lead">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
</div>

  </div>
</div>

<div class="container p-5 justify-content-center">
  <div class="row text-center">
    <div class="col">
      <p>Lorem, ipsum dolor.</p>
      <h3><strong>Lorem ipsum dolor</strong></h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Obcaecati nobis quis velit a unde aspernatur. 
         Consequuntur inventore magni repellat amet.</p>
    </div>
  </div>

<div class="row">

  <div class="col">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
  </div>
