<div class="container-fluid text-center">
<div class="row">
        <div class="col-sm-12 p-5 m-y-5">
                <h4>Health at the action of Your touch device</h4>
               <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla orci dui, aliquet ac congue vitae, condimentum eget velit.
                Etiam hendrerit eget quam quis facilisis. Proin ac augue consectetur ex pulvinar pulvinar vel ut purus. 
                Donec tincidunt lacus nec felis lobortis mattis. Sed sodales in tortor gravida tempus. 
                Ut ac viverra dolor. Donec vestibulum enim vitae orci blandit, nec varius augue eleifend.
               </p>

             
<!-- <br> -->
<!-- <div class="container-fluid">
        <div *ngIf="images && images.length > 0" class="carousel-container">
                <img *ngFor="let image of images; let i=index"
                [src]="image.imageSrc" [alt]="image.imageAlt"
                [ngClass]="{'image-active': selectedIndex === i }"
                class="fade"
                >

                <div class="carousel-dot-container">
                        <span *ngFor="let dot of images; let i=index"
                        class="dot"
                        [ngClass]="{'active': selectedIndex === i}"
                        (click)="selectImage(i)">
                        </span>
                </div>
                </div>
        
                <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
                      <i class=" fas fa-arrow-circle-left icon-carousel icon-prev"
                      ></i>      
                </button>
                <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
                      <i class=" fas fa-arrow-circle-right icon-carousel icon-next"
                      ></i>      
                </button>

</div> -->

        </div>                
</div>
</div>
