<!---------------------------NAVS--------------------------------->
<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><b>dhis 2</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-1 justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
<!-- Dropdown-1 -->

        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            This
          </a> 
          <ul class="dropdown-menu" appDropdown>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
   
<!-- Dropdown-2 -->
         <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            is
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
<!-- Dropdown-3 -->
        <li class="nav-item dropdown mx-4">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            the
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
<!-- Item-4 -->
        <li class="nav-item mx-4">
          <a class="nav-link" aria-disabled="true" routerLink="/pricing">Pricing</a>
        </li>
<!-- Item-5 -->
        <li class="nav-item mx-4">
          <a class="nav-link" aria-disabled="true">Website</a>
        </li>
<!-- Item-6 -->
        <li class="nav-item mx-4">
          <a class="nav-link" aria-disabled="true">Ever</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!---------------------------NAVS--------------------------------->

