<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center p-5 m-5">
    
                    <h2>CHECK THESE EXTRA-SHOKING PRICES HERE</h2>
                    <h4>THIS IS NOT A ONE TO MISS</h4>
              <br>
            <div class="row row-cols-1 row-cols-md-3 g-4 p-5 m-5">
                <div class="col">
                  <div class="card h-100">
                    <img src="#" class="card-img-top" alt="Lorem Ipsum"/>
                    <div class="card-body">
                      <h5 class="card-title">PRICE PART 1</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae aliquet nec ullamcorper sit amet risus.
                      </p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Dolor Sit Amet</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="#" class="card-img-top" alt="Pricing enterprise"/>
                    <div class="card-body">
                      <h5 class="card-title">Ipsum sit Amet</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae aliquet nec ullamcorper sit amet risus.
                    </p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">no by defaults</small>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="#" class="card-img-top" alt="sit amet risus"/>
                    <div class="card-body">
                      <h5 class="card-title">Lorem Ipsum</h5>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae aliquet nec ullamcorper sit amet risus.
                      </p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Labore et dolore</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<br>
<div class="flex-wrapper">
  <div class="footer"><app-footer></app-footer></div>
</div>

 
